<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListFirebase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81E27C8820A5DDA600E898EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81E27C9F20A5DDA700E898EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81E27CAA20A5DDA700E898EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
